/* UI text colors */
button, label {
    font-family: sans-serif;
    color: #d2d2d2;
    text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black, 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;
}

/* All buttons */
button {
    background-color: rgb(80,80,80);
    border: solid 1px rgb(20,20,20);
}

button:disabled {
    opacity: 0.5;
}

button:hover {
    background-color: rgb(110,110,110);
}


/* Top bar */

.top-bar {
    display: block;
    text-align: center;
}

.top-bar button {
    padding: 3px;
    font-size: 20px;
    width: 48%;
    font-weight: bold;
}

.top-bar button:hover {
    background-color: rgb(110,110,110);
}



/* Splits */

.splits  {
    text-align: center;
    font-family: sans-serif;
}

.splits button {
    margin: 3px;
    width: 100px;
}

.splits input {
    background-color: rgb(200,200,200);
}

.splits input:focus {
    outline: none;
}

.list-of-splits {
    background-color: rgb(40,40,40);
    width: 75%;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    overflow-y: auto;
}

.list-of-splits p {
    margin: 0;
}

.list-of-splits button {
    width: 95%;
    padding: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list-of-splits button:hover {
    background-color: rgb(80,80,80);
}

.ok-and-cancel {
    position: absolute;
    bottom: 0;
    right: 5px;
    margin: 10px;
}

.ok-and-cancel button {
    margin: 3px;
    padding: 2px;
    width: 70px;
}



/* Customize */

.customize {
    display: none;
    font-family: sans-serif;
}

.customize label {
    display: block;
    width: 180px;
    float: left;
}

.customize-left {
    position: absolute;
    left: 30px;
}

.customize-right {
    position: absolute;
    right: 30px;
}

.customize input {
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
}