/* Top bar */

.top-bar {
    display: block;
    text-align: center;
}

.top-bar button {
    padding: 5px;
    font-size: 16px;
    border-width: 1px;
    width: 275px;
}

.top-bar button:hover {
    background-color: rgb(180,180,180);
}



/* Splits */

.splits  {
    text-align: center;
}

.splits button {
    margin: 3px;
    width: 100px;
}

.list-of-splits {
    background-color: rgb(220,220,220);
    width: 75%;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    overflow-y: auto;
}

.list-of-splits p {
    margin: 0;
}

.list-of-splits button {
    width: 95%;
    padding: 3px;
    border-width: 1px;
}

.list-of-splits button:hover {
    background-color: rgb(200,200,200);
}

.ok-and-cancel {
    position: absolute;
    bottom: 0;
    right: 5px;
    margin: 10px;
}

.ok-and-cancel button {
    margin: 3px;
    width: 70px;
}



/* Customize */

.customize {
    display: none;
}

.customize label {
    display: block;
    width: 180px;
    float: left;
}

.customize-left {
    position: absolute;
    left: 30px;
}

.customize-right {
    position: absolute;
    right: 30px;
}

