body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.timerInfo p {
    margin: 1px;
    font-size: 20px;
}

#timerLabel {
    font-size: 30px;
}

.timerButtons button {
    margin: 5px;
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    padding: 10px;
}

/* Timer buttons */

#startButton {
    background-color: green;
}

#startButton:hover {
    background-color: rgb(0, 100, 0);
}

/* Pause */

#pauseButton {
    background-color: rgb(255, 0, 0);
}

#pauseButton:hover {
    background-color: rgb(200, 0, 0);
}

/* Reset */

#resetButton {
    background-color: rgb(80, 80, 80);
}

#resetButton:hover {
    background-color: rgb(50, 50, 50);
}


